html, body, main {
   height:100%;
    width:100%;
   background: url(../img/startScreenBackground.jpg);
}

.Start h1{
    font-family: serif;
    color: white;
    font-size: 96px;
    
}
.Start h2{
    color:white;
    font-family: serif;
    font-size: 48px;
}
.pickRoom h1 {
    font-family: serif;
    color: white;
    font-size: 48px;
}

.pickRoom button {
    
}