html, body, main {
   height:100%;

     
   }
 /*@keyframes example {
    10%   {background-color: #2E8B57;}
    30%  {background-color: #9ACD32;}
    50%  {background-color: #CDCDCD;}
	75%  {background-color: #1E90FF;}
	95% {background-color: #4c4c4c;}*/
	
 }

 @keyframes borders {
    10%  {border-right-color: #2E8B57;}
    30%  {border-right-color: #9ACD32;}
    50%  {border-right-color: #CDCDCD;}
	75%  {border-right-color: #1E90FF;}
	95% {border-right-color: #4c4c4c;}
 }
#column1 {
    width: 25%;
    height: 100%;
    float: left;
	opacity: 0.6;
    border-right: 2px solid #4169E1;
    animation-name: example;
    animation-duration: 25s;
	animation-iteration-count: infinite;
}
#column2 {
    width: 25%;
    height: 100%;
    float: left;
	opacity: 0.7;
    border-right: 2px solid #4169E1;
    animation-name: example;
    animation-duration: 25s;
	animation-iteration-count: infinite;
}
#column3 {
    width: 25%;
    height: 100%;
    float: left;
	opacity: 0.8;
    border-right: 2px solid #4169E1;
    animation-name: example;
    animation-duration: 25s;
	animation-iteration-count: infinite;
}
#column4 {
    width: 25%;
    height: 100%;
    float: left;
	opacity: 0.9;
    border-right: 2px solid #4169E1;
    animation-name: example;
    animation-duration: 25s;
	animation-iteration-count: infinite;
}
#textBoxChat {
    margin-left: 5%;
    float: left;
}
#uploadFile {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
	
}
#searchChat {
    display: inline-block;
    width: 50%;
}
#searchIcon {
    width: 10%;
    float: left;
}
#messageBoard {
    overflow-y: scroll;
    max-height: 80%;
	background-color: azure;

}
#fileBoard {
    overflow-y: scroll;
    max-height: 80%;
	background-color: azure;

}
.content {
    margin: 0% 5% 5% 5%;
    width: 90%;
    height: 60%;
    float: left;
    border: 2px;
	text-shadow: 1px 1px 1px #000000;
	box-shadow: 10px 10px 10px #000000;
	/*animation-name: borders;
    animation-duration: 25s;
	animation-iteration-count: infinite;*/
	border-right-color: black;

}
.headers {
    text-align-last: center;
    position:static;
	font-family: 'Verdana';
    opacity: 1;
	text-shadow: 1px 1px 1px #000000;
	box-shadow: -5px 5px 5px #000000;
	background-color: #FFFFFF;
}
.message {
    list-style-type: none;
    padding-left: 5%;
    padding-top: 2%;
	color: #000000;
}