html, body, main {
   height:100%;

     
   }
 @keyframes example {
    10%   {background-color: #2E8B57;}
    30%  {background-color: #9ACD32;}
    50%  {background-color: #CDCDCD;}
	75%  {background-color: #1E90FF;}
	95% {background-color: #4c4c4c;}
	
 }

.row1 span{
    width: 50%;
    height: 100px ;
    float: left;
    column-fill: balance;
}

.row2 span{
    width: 50%;
    height: 100px;
    float: right;
}

#column1 {
    width: 25%;
    height: 100%;
    float: left;
	opacity: 0.6;
    border-right: 2px solid #4169E1;
    animation-name: example;
    animation-duration: 60s;
	animation-iteration-count: infinite;
}
#topCol1 {
    height: 25%;
}
#bottomCol1 {
    height: 30%;
}
#column2 {
    width: 25%;
    height: 100%;
    float: left;
	opacity: 0.7;
    border-right: 2px solid #4169E1;
    animation-name: example;
    animation-duration: 60s;
	animation-iteration-count: infinite;
}
#column3 {
    width: 25%;
    height: 100%;
    float: left;
	opacity: 0.8;
    border-right: 2px solid #4169E1;
    animation-name: example;
    animation-duration: 60s;
	animation-iteration-count: infinite;
}
#column4 {
    width: 25%;
    height: 100%;
    float: left;
	opacity: 0.9;
    border-right: 2px solid #4169E1;
    animation-name: example;
    animation-duration: 60s;
	animation-iteration-count: infinite;
}

#textBoxChat {
    margin-left: 5%;
    float: left;
}
#uploadFile {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
	
}
#searchChat {
    display: inline-block;
    width: 50%;
}
#searchIcon {
    width: 10%;
    float: left;
}
#messageBoard {
    overflow-y: scroll;
    max-height: 80%;
	background-color: azure;
	box-shadow: 5px 5px 5px #000000;

}
#fileBoard {
    overflow-y: scroll;
    max-height: 80%;
	background-color: azure;

}
.content {
    margin: 0% 5% 5% 5%;
    width: 90%;
    height: 60%;
    float: left;
    border: 2px;
	text-shadow: 1px 1px 1px #000000;
	box-shadow: 10px 10px 10px #000000;
}
.rightArrows {
    width: 5%;
}
.headers {
    text-align-last: center;
    position:static;
	font-family: 'Verdana';
    opacity: 1;
	text-shadow: 1px 1px 1px #000000;
	box-shadow: -5px 5px 5px #000000;
	background-color: azure;
}
.message {
    list-style-type: none;
    padding-left: 5%;
    padding-top: 2%;
	color: #000000;
	
}

.gradientHeader {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bce0ee+2,bce0ee+2,29b8e5+100 */
background: #bce0ee; /* Old browsers */
background: -moz-linear-gradient(top,  #bce0ee 2%, #bce0ee 2%, #29b8e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #bce0ee 2%,#bce0ee 2%,#29b8e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #bce0ee 2%,#bce0ee 2%,#29b8e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bce0ee', endColorstr='#29b8e5',GradientType=0 ); /* IE6-9 */

}

.red{color: red;}
.blue{color: blue;}
.aqua{color: aqua;}
.pink{color: pink;}
.violet{color: violet;}
.yellow{color: yellow;}
.green{color: green;}
.orange{color: orange;}
.gold{color: gold;}
.gray{color: gray;}

