

<div id="column1"><h2 class="headers">Project Flow</h2>
    <div class="content">
        
    </div>  
</div>
<div id="column2"><h2 class="headers">Pinned Messages</h2>
    <div class="content">

    </div>  
</div>
<div id="column3"><h2 class="headers">Files</h2>
    <div class="content">
        <div id="fileBoard">
            <li class="message" ng-repeat="x in roomData.chats | filter: query | orderBy : 'time.getTime()'">{{x.from}} : {{x.message}}</li>
        </div>
    </div>
    <div id="uploadFile">
        <input id="newFile" style="width: 70%; float: left;" type="file">
        <input style="width: 20%; display: inline-block;"type="submit" ng-click="sendFile()">
    </div>
</div>
<div id="column4"><h2 class="headers">Chat</h2>
    <div class="content">
        <img id="searchIcon" src="../img/searchIcon.png" />
        <input type="text" id="searchChat" placeholder="search messages..." ng-model="query[queryBy]">
        <hr />
        <div id="messageBoard">
            <li class="message" ng-repeat="x in roomData.chats | filter: query | orderBy : 'time.getTime()'">{{x.from}} : {{x.message}}</li>
        </div>
    </div> 
    <input type="text" id="textBoxChat" name="message" placeholder="type a message...">
    <input type="submit" ng-click="sendMessage()">
</div>