
<div class="row1"><span><h2 class="headers">Users Online</h2>
    
    <div id="currentUsers">{{currentUsers}}</div>
    
    </span></div>
<div class="row2"><span><h2 class="headers">SEARCH</h2>
     
    <img id="searchIcon" src="../img/searchIcon.png" />
        <input type="text" id="searchChat" placeholder="search messages..." ng-model="query[queryBy]">
        </span>
</div>
<div id="column1"><h2 class="headers">Photos</h2>
    <div id="topCol1" class="content">
        
    </div> 
    <div id="bottomCol1" class="content"><h2 class="headers">Links</h2>
    <li ng-repeat="l in roomData.links">{{l}}</li>
        
    </div>  
</div>
<div id="column2"><h2 class="headers">Pinned Messages</h2>
    <div class="content">
       <div id="messageBoard">
		<li class="pinned" ng-repeat="x in roomData.chats | filter: {'pinned' : 'true'}: true | orderBy : 'time.getTime()'">{{x.from}} : {{x.message}}</li>
        </div>   
	</div>	
</div>
<div id="column3"><h2 class="headers">Files</h2>
    <div class="content">
        <div  id="fileBoard">
            <li ng-repeat="x in roomData.files">{{x}}</li>
        </div>
    </div>
    <div id="uploadFile">
        <form id =  "uploadForm"
                 enctype   =  "multipart/form-data"
                 action    =  "/upload/file/"
                 method    =  "post"
                 ng-submit="upload()"
        >
        <input id="newFile" style="width: 70%; float: left;" type="file">
        <input style="width: 20%; display: inline-block;" type="submit" ng-click="sendFile()">
    </div>
</div>
<div id="column4"><h2 class="headers">Chat</h2>
    <div class="content">
        
        <hr />
        <div  id="messageBoard">
            <li class="message" ng-repeat="x in roomData.chats | filter: query | orderBy : 'time.getTime()'"><img ng-click="pinMessage($event, x)" class="rightArrows" src="../img/arrow-right.png"><span ng-class="setTextColor()">{{x.from}}</span> : {{x.message}}</li>
        </div>
    </div> 
    <input type="text" id="textBoxChat" name="message" placeholder="type a message...">
    <input type="submit" ng-click="sendMessage()">
</div>
